<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright Xeno Innovations, Inc. 2020
 * Date:    2020-10-16
 * Author:  Damian Suess
 * File:    packages.config
 * Description:
 *  
-->
<packages>
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net461" developmentDependency="true" />
</packages>